<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<empty-layout *ngIf="layout === 'empty'"></empty-layout>

<!-- Classy -->
<classy-layout *ngIf="layout === 'classy'">
    <ng-container asideHeader>
        <aside-header></aside-header>
    </ng-container>

    <ng-container asideContentHeader>
        <aside-content-header></aside-content-header>
    </ng-container>

    <ng-container asideFooter>
        <aside-footer></aside-footer>
    </ng-container>
    
</classy-layout>

<!-- Thin -->
<thin-layout *ngIf="layout === 'thin'" >
    <ng-container asideHeader>
        <aside-header></aside-header>
    </ng-container>

    <ng-container asideContentHeader>
        <aside-content-header></aside-content-header>
    </ng-container>
    

    <ng-container asideFooter>
        <aside-footer></aside-footer>
    </ng-container>
</thin-layout>

<!-- custom -->
<custom-layout *ngIf="layout === 'custom'"></custom-layout>

<!-- <settings></settings> -->

<!-- Switch module button for admin -->
<div
    *ngIf="permissions.ADMIN_SPACE"
    class="fixed flex items-center justify-center right-0 w-fit px-4 h-10 shadow-lg rounded-l-lg z-90 cursor-pointer bg-primary text-white bg-opacity-90 print:hidden"
    style="bottom: 60px"
    >
    <div matRipple [matMenuTriggerFor]="module">
        Aller à
    </div>
    <mat-menu #module="matMenu">
        @for (panel of panels; track $index) {
            <button  mat-menu-item (click)="switchPanel(panel)" 
                class="flex items-center w-full p-2 hover:bg-primary-200">
                <mat-icon class="mr-2" [svgIcon]="panel.icon"></mat-icon>
                {{panel.name}}
            </button>
        }
    </mat-menu>
</div>

<!-- Menu -->
